<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kh 정보 교육원</title>
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
<div class="header">
    <h1>KH 정보 교육원</h1>
    <p th:if="${session.userID != null}">
        "<span th:text="${session.userID}"></span>"님 반갑습니다.
    </p>
    <p th:if="${session.userID == null}">
        로그인되지 않음
    </p>
</div>
<div>
    <button>11</button>
    <button>22</button>
    <button>33</button>
</div>

</body>
</html>
