<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KH 정보교육원</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/KH.css">

    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
</head>
<body>
<div id="wrap">
    <header>
        <div class="header_left">
            <h1 class="logo"><a href="#"><img src="/img/logo_img.png" alt=""></a></h1>
            <div class="nav">
                <ul class="header_nav">
                    <li><a href="#">상담 신청</a></li>
                    <li><a href="#">수강 신청</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </div>
        </div>
        <div class="header_right">
            <section>
                <form action="https://khedu.co.kr" method="GET">
                    <input type="text" name="query" placeholder="">
                    <button type="submit" id="search-btn"><img src="/img/search_icon.png" alt=""></button>
                </form>
            </section>
            <div class="login_join">
                <!-- InUser 세션이 있는 경우 -->
                <ul th:if="${#session != null && #session.getAttribute('InUser') != null}">
                    <li>
                        <form th:action="@{/acos/mypage}" method="post">
                            <input type="hidden" name="InUser" th:value="${#session.getAttribute('InUser')}" />
                            <button type="submit">마이페이지</button>
                        </form>
                    </li>
                    <li>|</li>
                    <li><a href="#" th:href="@{/acos/logout}">로그아웃</a></li>
                </ul>
                <!-- InNotUser 세션이 있는 경우 -->
                <ul th:if="${#session != null && #session.getAttribute('InNotUser') != null}">
                    <li><span th:text="${#session.getAttribute('InNotUser').name}">사용자 이름</span></li>
                    <li>|</li>
                    <li><a href="#" th:href="@{/acos/logout}">로그아웃</a></li>
                </ul>
                <!-- 세션이 없는 경우 -->
                <ul th:if="${#session == null || #session.getAttribute('InUser') == null && #session.getAttribute('InNotUser') == null}">
                    <li><a href="/acos/signin">로그인</a></li>
                    <li>|</li>
                    <li><a href="/acos/signup">회원가입</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="slideshow-container">
        <div class="mySlides_fade1">
            <img src="/img/bn_img_02.jpg" alt="">
        </div>

        <div class="mySlides_fade2">
            <img src="/img/bn_img_03.jpg" alt="">
        </div>

        <div class="mySlides_fade3">
            <img src="/img/bn_img_04.png" alt="">
        </div>
    </div>
</div>
</body>
</html>

<script>
    let slideIndex = 0;
showSlides();

function showSlides() {
  const slides = document.querySelectorAll('.mySlides_fade1,.mySlides_fade2,.mySlides_fade3, .fade');
  for (let i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Change slide every 3 seconds
}
</script>