<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상담 서비스</title>
</head>
<body>
<h1>상담 서비스</h1>
<ul>
    <li>
        <a href="/acos/myEnr" >상담 조회</a>
    </li>
    <li th:unless="${#session.getAttribute('InNotUser')==null and #session.getAttribute('InUser').id == 'master'}">
        <a href="/acos/reservation" >상담 예약</a>
    </li>
    <li th:unless="${#session.getAttribute('InNotUser')==null and #session.getAttribute('InUser').id == 'master'}">
        <a href="/acos/cancelEnr" >상담 취소</a>
    </li>
</ul>
</body>
</html>