<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>상담 조회</title>
</head>
<body>
<header>
    <div class="header_left">
        <h1 class="logo"><a href="/acos/main"><img src="/img/logo_img.png" alt=""></a></h1>
        <div class="nav">
            <ul class="header_nav">
                <li><a href="/acos/enrolment">상담 신청</a></li>
                <li><a href="/acos/select">수강 신청</a></li>
                <li><a href="/acos/qapage">Q&A</a></li>
            </ul>
        </div>
    </div>
    <div class="header_right">
        <section>
            <form action="https://khedu.co.kr" method="GET">
                <input type="text" name="query" placeholder="">
                <button type="submit" id="search-btn"><img src="/img/search_icon.png" alt=""></button>
            </form>
        </section>
        <div class="login_join">
            <form th:action="@{/acos/signin}" method="get" th:if="${#session == null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected >로그인 | 회원가입</option>
                    <option value="/acos/signin">로그인</option>
                    <option value="/acos/signup">회원가입</option>
                    <option value="/acos/findpassword">비밀번호 찾기</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InUser').name+ '님 안녕하세요!'}"></option>
                    <option th:if="${#session.getAttribute('InUser') != null and #session.getAttribute('InUser').id != 'master'}" value="/acos/change">내 정보 수정</option>
                    <option value="/acos/logout">로그아웃</option>
                    <option th:if="${#session.getAttribute('InUser').id != 'master'}" value="/acos/withdraw">회원탈퇴</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InNotUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InNotUser').name+ '님 안녕하세요!'}"></option>
                    <option value="/acos/signup">회원가입</option>
                    <option value="/acos/logout">로그아웃</option>
                </select>
            </form>
        </div>
    </div>
</header>
<h2>상담 예약 조회</h2>
<table>
    <tr>
        <th>취소</th>
        <th>이름</th>
        <th>예약 날짜</th>
        <th>문의 내용</th>
    </tr>
    <th:block th:each="enrolment : ${enrolmentList}">
        <tr>
            <form th:action="@{/acos/cancelEnr}" method="post">
            <td>
                <input type="submit" value="취소" onclick="return cancelApply()" class="cancel-button">
                <input type="hidden" th:name="cancelDate" th:value="*{enrolment.date}">
            </td>
            <td th:text="${enrolment.name}"></td>
            <td th:text="${enrolment.date}"></td>
            <td th:text="${enrolment.inquiry}"></td>
            </form>
        </tr>
    </th:block>
</table>
<form th:action="@{/acos/enrolment}"  method="get"  style="margin-top: 20px;">
    <button type="submit">돌아가기</button>
</form>
<script>
    function cancelApply() {
        return confirm("정말로 취소하시겠습니까?");
    }
</script>

</body>
</html>