<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 폼</title>
</head>
<body>
<h2>예약하기</h2>
<form action="/enrolment/reservation" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}" /> <!-- CSRF 토큰 추가 -->
    <label for="name">이름:</label><br>
    <input type="text" id="name" name="name" value="${user.name}" readonly><br> <!-- 로그인된 사용자 이름 출력 -->
    <label for="date">예약 날짜:</label><br> <!-- YYYY-MM-DD , MM/DD/YYYY,Month DD, YYYY-->
    <input type="text" id="date" name="date" required><br> <!-- 사용자가 직접 입력할 수 있도록 수정 -->
    <label for="phoneNumber">전화 번호:</label><br>
    <input type="tel" id="phoneNumber" name="phoneNumber" required><br>
    <label for="inquiry">문의 내용:</label><br>
    <textarea id="inquiry" name="inquiry" required></textarea><br>
    <input type="submit" value="예약하기">
</form>
<script>
    // 예약 날짜 입력 필드에 날짜 형식을 제어하는 JavaScript 코드
    window.onload = function() {
        var dateInput = document.getElementById('date');
        dateInput.addEventListener('input', function() {
            var enteredDate = new Date(this.value);
            var today = new Date();
            // 현재 날짜보다 이전 날짜를 선택한 경우, 입력한 날짜를 초기화
            if (enteredDate < today) {
                alert('예약은 오늘 이후 날짜만 가능합니다.');
                this.value = '';
            }
        });
    };
</script>
</body>
</html>