

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/clsStyle.css}">
    <style>
        .header-image {
            width: 300px; /* 이미지를 화면에 꽉 차게 표시합니다. */
            height: auto; /* 이미지의 비율을 유지합니다. */
        }
        .container {
            padding-top: 20px; /* 기존 컨텐츠가 이미지 아래에 나타나도록 여백을 추가합니다. */
        }
    </style>
</head>
<img src="https://khedu.co.kr/resources/images/main/logo.svg" alt="Your Image" class="header-image">
<body class="container">
<h2>신청 가능한 수업</h2>
<table>
    <thead>
    <tr>
        <th>수강 신청</th>
        <th>수업 번호</th>
        <th>수업 이름</th>
        <th>강사</th>
        <th>강의실</th>
        <th>신청 인원</th>
        <th>제한 인원</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="classtb : ${CLASS}">
            <form th:action="@{/classtb/apply}" method="post" th:object ="${applys}">
            <td><input type="submit" value="신청" onclick="return confirmApply()" style="background-color: red; color: white; font-weight: bold;"></td>
            <td><input type="hidden" name="openNum" th:name ="openNum" th:value="${classtb.openNum}"><span th:text="${classtb.openNum}"></span></td>
            <td><input type="hidden" name="title" th:name ="title" th:value="${classtb.title}"><span th:text="${classtb.title}"></span></td>
            <td><input type="hidden" name="teacher" th:name ="teacher" th:value="${classtb.teacher}"><span th:text="${classtb.teacher}"></span></td>
            <td><input type="hidden" name="room" th:name ="room" th:value="${classtb.room}"><span th:text="${classtb.room}"></span></td>
            <td><input type="hidden" name="applicant" th:name ="applicant" th:value="${classtb.applicant}"><span th:text="${classtb.applicant}"></span></td>
            <td><input type="hidden" name="max" th:name ="max" th:value="${classtb.max}"><span th:text="${classtb.max}"></span></td>
            </form>
        </tr>
    </tbody>
</table>

<form th:action="@{/classtb/myclass}" method="get" style="margin-top: 20px;">
    <button type="submit">나의 수업 조회</button>
<script>
    function confirmApply() {
        var result = confirm("신청하시겠습니까?");
        return result;
    }
</script>
</body>
</html>
