<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>수강 신청</title>
</head>
<body class="container">
<header>
    <div class="header_left">
        <h1 class="logo"><a href="/acos/main"><img src="/img/logo_img.png" alt=""></a></h1>
        <div class="nav">
            <ul class="header_nav">
                <li><a href="/acos/enrolment">상담 신청</a></li>
                <li><a href="/acos/select">수강 신청</a></li>
                <li><a href="/acos/qapage">Q&A</a></li>
            </ul>
        </div>
    </div>
    <div class="header_right">
        <section>
            <form action="https://khedu.co.kr" method="GET">
                <input type="text" name="query" placeholder="">
                <button type="submit" id="search-btn"><img src="/img/search_icon.png" alt=""></button>
            </form>
        </section>
        <div class="login_join">
            <form th:action="@{/acos/signin}" method="get" th:if="${#session == null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected >로그인 | 회원가입</option>
                    <option value="/acos/signin">로그인</option>
                    <option value="/acos/signup">회원가입</option>
                    <option value="/acos/findpassword">비밀번호 찾기</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InUser').name+ '님 안녕하세요!'}"></option>
                    <option th:if="${#session.getAttribute('InUser') != null and #session.getAttribute('InUser').id != 'master'}" value="/acos/change">내 정보 수정</option>
                    <option value="/acos/logout">로그아웃</option>
                    <option th:if="${#session.getAttribute('InUser').id != 'master'}" value="/acos/withdraw">회원탈퇴</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InNotUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InNotUser').name+ '님 안녕하세요!'}"></option>
                    <option value="/acos/signup">회원가입</option>
                    <option value="/acos/logout">로그아웃</option>
                </select>
            </form>
        </div>
    </div>
</header>
<h2>신청 가능한 수업</h2>
<table>
    <thead>
    <tr>
        <th>수강 신청</th>
        <th>수업 번호</th>
        <th>수업 이름</th>
        <th>강사</th>
        <th>강의실</th>
        <th>신청 인원</th>
        <th>제한 인원</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="classtb : ${CLASS}">
        <form th:action="@{/acos/apply}" method="post" th:object="${applys}">
            <td><input type="submit" value="신청" onclick="return confirmApply()" class="apply-button"></td>
            <td><input type="hidden" name="openNum" th:name="openNum" th:value="${classtb.openNum}"><span
                    th:text="${classtb.openNum}"></span></td>
            <td><input type="hidden" name="title" th:name="title" th:value="${classtb.title}"><span
                    th:text="${classtb.title}"></span></td>
            <td><input type="hidden" name="teacher" th:name="teacher" th:value="${classtb.teacher}"><span
                    th:text="${classtb.teacher}"></span></td>
            <td><input type="hidden" name="room" th:name="room" th:value="${classtb.room}"><span
                    th:text="${classtb.room}"></span></td>
            <td><input type="hidden" name="applicant" th:name="applicant" th:value="${classtb.applicant}"><span
                    th:text="${classtb.applicant}"></span></td>
            <td><input type="hidden" name="max" th:name="max" th:value="${classtb.max}"><span
                    th:text="${classtb.max}"></span></td>
        </form>
    </tr>
    </tbody>
</table>

<form th:action="@{/acos/myclass}" method="get" style="margin-top: 20px;">
    <button type="submit" th:if="${#session.getAttribute('InUser').id == 'master'}" th:text="${'전체 수업 조회'}">나의 수업 조회</button>
    <script>
        function confirmApply() {
            var result = confirm("신청하시겠습니까?");
            return result;
        }
    </script>
</form>
</body>
</html>
