<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>취소 완료 페이지</title>
  <link rel="stylesheet" th:href="@{/css/clsStyle.css}">
  <style>
    .container {
      position: relative;
      width: 300px;
      height: 200px;
    }

    .overlay-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px; /* 이미지의 폭을 조정하여 더 작게 만듭니다. */
      height: auto; /* 높이를 자동으로 설정하여 이미지의 비율을 유지합니다. */
      z-index: -1;
    }

    .content {
      position: relative;
      padding-top: 50px;
      text-align: center;
    }

    p {
      font-size: 16px;
    }

    h2 {
      color: blue;
      font-weight: bold;
    }
  </style>
</head>
<body>

<img src="https://khedu.co.kr/resources/images/main/logo.svg" alt="Your Image" class="overlay-image">
<!-- 위의 주소를 실제 이미지의 URL로 변경하세요 -->

<div class="container content">

  <div>
    <p>취소 완료되었습니다.</p>
    <form th:action="@{/classtb/select}" method="get">
      <button type="submit">돌아가기</button>
    </form>
  </div>
</div>

</body>
</html>