<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/clsStyle.css}">
</head>
<body class="container">

<h2>신청 결과</h2>
<div>
    <p>신청 완료 되었습니다.</p>
    <form th:action="@{/classtb/select}" method="get">
        <button type="submit">돌아가기</button>
    </form>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>수강신청 완료</p>-->
<!--<form th:action="@{/classtb/select}" method="get">-->
<!--    <button type="submit">돌아가기</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->