<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/clsStyle.css}">
    <style>
        .header-image {
            width: 300px; /* 이미지를 화면에 꽉 차게 표시합니다. */
            height: auto; /* 이미지의 비율을 유지합니다. */
        }
        .container {
            padding-top: 20px; /* 기존 컨텐츠가 이미지 아래에 나타나도록 여백을 추가합니다. */
        }
    </style>
</head>
<body class="container">
<img src="https://khedu.co.kr/resources/images/main/logo.svg" alt="Your Image" class="header-image">
<h2>신청 결과</h2>
<div>
    <p>신청 완료 되었습니다.</p>
    <form th:action="@{/classtb/select}" method="get">
        <button type="submit">돌아가기</button>
    </form>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>수강신청 완료</p>-->
<!--<form th:action="@{/classtb/select}" method="get">-->
<!--    <button type="submit">돌아가기</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->