<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>로그인</title>
</head>
<body>
<header>
    <div class="header_left">
        <h1 class="logo"><a href="/acos/main"><img src="/img/logo_img.png" alt=""></a></h1>
        <div class="nav">
            <ul class="header_nav">
                <li><a href="/acos/enrolment">상담 신청</a></li>
                <li><a href="/acos/select">수강 신청</a></li>
                <li><a href="/acos/qapage">Q&A</a></li>
            </ul>
        </div>
    </div>
    <div class="header_right">
        <section>
            <form action="https://khedu.co.kr" method="GET">
                <input type="text" name="query" placeholder="">
                <button type="submit" id="search-btn"><img src="/img/search_icon.png" alt=""></button>
            </form>
        </section>
        <div class="login_join">
            <form th:action="@{/acos/signin}" method="get" th:if="${#session == null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected >로그인 | 회원가입</option>
                    <option value="/acos/signin">로그인</option>
                    <option value="/acos/signup">회원가입</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InUser').name+ '님 안녕하세요!'}"></option>
                    <option th:if="${#session.getAttribute('InUser') != null}" value="/acos/change">내 정보 수정</option>
                    <option value="/acos/logout">로그아웃</option>
                    <option value="/acos/withdraw">회원탈퇴</option>
                </select>
            </form>
            <form th:action="@{/acos/logout}" method="get" th:if="${#session != null and #session.getAttribute('InNotUser') != null}">
                <select onchange="window.location.href=this.value">
                    <option disabled selected th:text="${#session.getAttribute('InNotUser').name+ '님 안녕하세요!'}"></option>
                    <option value="/acos/logout">로그아웃</option>
                </select>
            </form>
        </div>
    </div>
</header>
<div class="login_wrap">
<div class="signin_h1_p">
    <h1>Sign in</h1>
    <p>KH정보교육원을 찾아주셔서 감사합니다.</p>
</div>
<div class="login_container">
    <div class="Nuser">
        <input type="checkbox" id="changeLabelCheckbox">
        <label for="changeLabelCheckbox">비회원 로그인</label>
    </div>
    <form id="loginForm" th:action="@{/acos/signin}" th:object="${userInfo}" method="post">
        <div class="id_search">
            <input type="text" id="ID" th:field="*{val1}" placeholder="ID"/>
        </div>
        <div class="pw_search">
            <input type="password" id="PW" th:field="*{val2}" placeholder="PW"/>
            <input type="hidden" id="userCheck" th:field="*{userCheck}" />
        </div>
        <div class="sign_btn">
            <button type="submit">Sign in</button>
        </div>
    </form>
</div>
</div>
<script>
    window.onload = function(){
        document.getElementById('userCheck').value = "0";
        };

    document.getElementById('changeLabelCheckbox').addEventListener('change', function() {

        var isChecked = this.checked;
        var userCheckValue = isChecked ? "1" : "0";
        document.getElementById('userCheck').value = userCheckValue;
        if (isChecked) {
            document.getElementById('ID').placeholder = '휴대폰 번호';
            document.getElementById('PW').placeholder = '이름';
            document.getElementById('PW').type = 'text';
        } else {
            document.getElementById('ID').placeholder = 'ID';
            document.getElementById('PW').placeholder = 'Password';
            document.getElementById('PW').type = 'password';
        }
    });
</script>
</body>
</html>
