<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>로그인</title>
</head>
<body>
<header>
    <div class="header_left">
        <h1 class="logo"><a href="/acos/main"><img src="/img/logo_img.png" alt=""></a></h1>
        <div class="nav">
            <ul class="header_nav">
                <li><a href="#">상담 신청</a></li>
                <li><a href="#">수강 신청</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
        </div>
    </div>
    <div class="header_right">
        <section>
            <form action="https://khedu.co.kr" method="GET">
                <input type="text" name="query" placeholder="">
                <button type="submit" id="search-btn"><img src="/img/search_icon.png" alt=""></button>
            </form>
        </section>
        <div class="login_join">
            <ul>
                <li><a href="#">로그인</a></li>
                <li>|</li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </div>
    </div>
</header>
<h1>로그인</h1>
<input type="checkbox" id="changeLabelCheckbox">
<label for="changeLabelCheckbox">비회원 로그인</label>
<form id="loginForm" th:action="@{/acos/signin}" th:object="${userInfo}" method="post">
    <div>
        <label for="ID" id="IDLabel">ID</label>
        <input type="text" id="ID" th:field="*{val1}" />
    </div>
    <div>
        <label for="PW" id="PWLabel">Password</label>
        <input type="password" id="PW" th:field="*{val2}" />
        <input type="hidden" id="userCheck" th:field="*{userCheck}" />
    </div>
    <div>
        <button type="submit">Sign in</button>
    </div>
</form>
<script>
    window.onload = function(){
        document.getElementById('userCheck').value = "0";
        };

    document.getElementById('changeLabelCheckbox').addEventListener('change', function() {

        var isChecked = this.checked;
        var userCheckValue = isChecked ? "1" : "0";
        document.getElementById('userCheck').value = userCheckValue;
        if (isChecked) {
            document.getElementById('IDLabel').innerText = '휴대폰 번호:';
            document.getElementById('PWLabel').innerText = '이름:';
            document.getElementById('PW').type = 'text';
        } else {
            document.getElementById('IDLabel').innerText = 'ID:';
            document.getElementById('PWLabel').innerText = 'Password:';
            document.getElementById('PW').type = 'password';
        }
    });
</script>
</body>
</html>
