* {margin: 0; padding: 0;}

body {font-family: 'Noto Sans KR', sans-serif; font-weight: 400;  color: #585858;width: 100%;height: 100%;}

header {
    width: 1920px;
    min-width: 1920px;
    height: 80px;
    top: 10px;
    position: fixed;
    position: relative;
}
header .header_left {
    position: relative;
    width: 50%;
    height: 80px;
}

/* logo */
header .header_left > h1 {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 40%;
}
header .header_left > h1 > a > img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
/* nav */
.header_left .nav {
    position: absolute;
    top: 40%;
    right: 0;
}
.header_left .nav > ul > li {
    margin-right: 40px;
    font-size: 18px;
    float: left;
    font-weight: bold;

}
.header_left .nav > ul > li:hover {
    border-bottom: 2px solid #6568f7;
    color: #6568f7;
    transform: scale(1.1);

}
/* header_right */
header .header_right {
    position: relative;
    width: 50%;
    height: 80px;
    left: 50%;
    bottom: 100%;
}
header .header_right form {
    display: inline-block;
    height: 80px;

}
header .header_right section {
    position: relative;
    width: 260px;
    height: 80px;
    left: 10px;
}
header .header_right input {
    position: absolute;
    width: 260px;
    height: 40px;
    top: 30%;
    border-radius: 8px;
    border: #fff;
    background-color: #e7e5e5;

}
header .header_right button {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 38%;
    right: 0;
    margin-right: 5px;

}
#search-btn {
    width: 30px;
    cursor: pointer;
    border: none;
    background-color: #e7e5e5;
}
#search-btn img {
    width: 20px;
    height: 20px;
}
header .header_right .login_join {
    position: absolute;
    right: 40%;
    top: 30%;
}
.login_join select {
    width : 200px;
    height: 40px;
    font-size : 15px;
    padding: 5px;
    appearance: none;
    cursor: pointer;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #585858;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.login_wrap {
    background: #e9e8e8;
    width: 100%;
    position: absolute;
    margin-top: 20px;
    height: 200px;

}
.login_wrap .login_container {
    position: relative;
    width: 30%;
    height: 200px;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid gray;
    background: #fff;
    border-radius: 20px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}
.login_wrap .login_container h2 {
    text-align: center;
    margin-top: 20px;
}

.qa_box {
    position: absolute;
    width: 60%;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
}
.qa_box ul li {
    width: 150px;
    height: 50px;
    float:left;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 20px;
    margin: 10px;
    vertical-align: middle;
}
.qa_box ul li a {
    display:inline-block;
    padding: 12px 15px;
}