@charset "utf-8";
@import url(fonts.css);

* {margin: 0; padding: 0;}

body {font-family: 'Noto Sans KR', sans-serif; font-weight: 400;  color: #585858;width: 100%;height: 100%;}


/* 배경 */
.login_wrap {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background: #e9e8e8;
}
/* login */
.login_container {
    position: absolute;
    width: 30%;
    height: 500px;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid gray;
    background: #fff;
    border-radius: 20px;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
}

.signin_h1_p{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #6568f7;
    text-align: center;
}
.signin_h1_p > p {
    color: #000;
    font-size: 15px;
    margin-top: 5px;
}

/*비회원 체크박스*/
.Nuser {
    position: absolute;
    font-size: 20px;
    bottom: 42%;
    left: 11%;
}
.Nuser changeLabelCheckbox {
    width:50px;
    height:50px;
}
/*id 입력박스*/
.id_search {position: absolute; top: 15%; width: 80%; left: 50%; transform: translateX(-50%);}
.id_search input[type="text"]{
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: #000;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 10px;
        border:none;

        border-bottom: 1px solid #ccc; /* 테두리 스타일 지정 */
        border-radius: 4px; /* 테두리의 둥근 정도 설정 */
    }

    /* 레이블 스타일링 */
    .id_search label {
        display: block; /* 레이블을 블록 요소로 설정하여 한 줄에 하나씩 표시되도록 함 */
        margin-bottom: 10px; /* 레이블 아래의 간격 설정 */
    }
/*비밀번호 입력창*/
.pw_search {position: absolute; top: 35%; width: 80%; left: 50%; transform: translateX(-50%);}
.pw_search input[type="password"], .pw_search input[type="text"] {
        width: 100%;
        height: 60px;
        font-size: 18px;
        color: #000;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 10px;
        border:none;

        border-bottom: 1px solid #ccc; /* 테두리 스타일 지정 */
        border-radius: 4px; /* 테두리의 둥근 정도 설정 */
    }

    /* 레이블 스타일링 */
    .pw_search label {
        display: block; /* 레이블을 블록 요소로 설정하여 한 줄에 하나씩 표시되도록 함 */
        margin-bottom: 10px; /* 레이블 아래의 간격 설정 */
    }
/*sign 버튼*/
.sign_btn button {
    position: absolute;
    width: 50%;
    height: 50px;
    bottom: 10%;
    left: 25%;
    font-size: 16px;
}

/* footer */
footer {
    margin: 0 auto;
  }
  footer .fot_ground {
    margin: 0 auto;
      color: #fff;
      position: relative;
      width: 100%;
      height: 250px;
      background: rgb(10, 22, 34);
      color: #fff;
  }
  .fot_ground p {
    font-size: 13px;
    text-align: center;
    bottom: 15%;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .fot_ground .fot-p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
  }

  .fot_ground .fot_a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

  }
  .fot_ground .fot_a ul li{
    display: inline-block;
    float: left;
    margin-right: 7px;
  }
  .fot_ground .fot_a ul li a{
    font-size: 13px;
    margin-top: 30px;
  }
  .kh_logo_fot {
    position: absolute;
    right: 20%;
    bottom: 20%;
  }
  .kh_logo_fot img {
    border-radius: 100px;
    width: 70px;
  }
