/* 전체적인 스타일 설정 */


body {
    font-size: 18px; /* 기본 글자 크기 */
    line-height: 1.6; /* 줄 간격 */
}

.container {
    width: 80%; /* 전체 컨테이너 너비 */
    margin: 150px auto 0; /* 가운데 정렬 및 상단 여백 설정 */
    overflow: auto;

}

/* 테이블 스타일 설정 */
table {
    width: 100%; /* 표 전체 너비 */
    border-collapse: collapse; /* 테이블 셀 간의 간격 없애기 */
}

th, td {
    padding: 12px; /* 셀 내부 여백 */
    border: 1px solid #ddd; /* 테이블 셀 경계선 */
}

/* 버튼 스타일 설정 */
.apply-button {
    padding: 10px 20px; /* 버튼 내부 여백 */
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 글자색 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
}
.custom-button {
    /* 원하는 버튼에 대한 추가적인 스타일을 여기에 추가합니다 */
    font-size: 20px; /* 버튼 크기 유지 */
}

.button-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin-top: 20px;
}

.apply-button.custom-button {
    margin-left: auto; /* 버튼을 오른쪽으로 이동 */
}

.apply-button:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

/* 링크 스타일 설정 */
.header_nav a {
    text-decoration: none; /* 밑줄 없애기 */
    color: #333; /* 링크 색상 */
}

.header_nav a:hover {
    color: #007bff; /* 호버 시 링크 색상 변경 */
}

/* 중앙 정렬 스타일 설정 */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
